<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>
  <!-- Autofac configuration -->
  <autofac>
    <components>
      <component instance-scope="single-instance" service="RyanPenfold.ApplicationRenamer.UI.Windows.ISettingsFile, RyanPenfold.ApplicationRenamer.UI.Windows" type="RyanPenfold.ApplicationRenamer.UI.Windows.SettingsFile, RyanPenfold.ApplicationRenamer.UI.Windows" />
      <component instance-scope="single-instance" service="RyanPenfold.ApplicationRenamer.UI.Windows.ISettingsInfo, RyanPenfold.ApplicationRenamer.UI.Windows" type="RyanPenfold.ApplicationRenamer.UI.Windows.SettingsInfo, RyanPenfold.ApplicationRenamer.UI.Windows" />
    </components>
  </autofac>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>